.click-me {
	cursor: pointer;
    outline: black;
}

#wrapper {
    display: inline-block;
    margin: 10px;
}

.chart-title {
    text-align: center;
}

#simvis {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}



/***
    Messages
            ***/

.message {
    position: absolute;
    width: 100%;
}

.alert > h4 {
    margin: 0;
}

.alert {
    width: 40%;
    text-align: center;
    position: relative;
    margin: 10px auto;
    z-index: 9999;
}

.alert-dismissible .close {
    opacity: 1;
    float: none;
    margin-left: 50px;
    vertical-align: middle;
    top:0;
    font-size: inherit;
}

/*.alert-dismissible .close::before {
    content: "Close";
}*/

/*
    d3 graph stuff
*/

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis--x path {
  display: none;
}

svg {
    overflow: visible !important; /* this better not bite me later */
}

/* tooltips */

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}

.circle {
    fill: lightsteelblue;
}

.circle:hover {
    stroke: blue;
    stroke-width: 10px;
}

/***
    Node Styles 
                ***/
.link {
    stroke-width: 1.5px;
}

.node {
    cursor: move;
    stroke: #000;
    stroke-width: 1.5px;
}

.node.fixed {
    stroke-width: 3px;
}


/*** 
    Simvis banner
                ***/

.banner {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.banner p {
  background-color: white;
}